<span class="p-input-icon-left mb-4">
  <i class="pi pi-search"></i>
  <input type="text" pInputText placeholder="Search" />
</span>
<h2>Dashboard</h2>
<div class="grid max-w-screen">
  <p-card class="col-12">
    <ng-template pTemplate="header">
      <h4 class="ml-3 pt-3">Today's trends</h4>
    </ng-template>
    Body Content
  </p-card>
</div>
<div class="grid max-w-screen">
  <p-card class="col-6">
    <ng-template pTemplate="header">
      <h4 class="ml-3 pt-3">Unresolved tickets</h4>
    </ng-template>
    Body Content
  </p-card>
  <p-card class="col-6">
    <ng-template pTemplate="header">
      <h4 class="ml-3 pt-3">Tasks</h4>
    </ng-template>
    Body Content
  </p-card>
</div>
