<span class="p-input-icon-left mb-4">
  <i class="pi pi-search"></i>
  <input type="text" pInputText placeholder="Search" />
</span>
<h2>Dashboard</h2>
<div class="grid">
  <p-card class="col-12">
    <ng-template pTemplate="header">
      <h4 class="ml-3 pt-3">Today's trends</h4>
    </ng-template>
    <div class="card flex flex-row align-items-stretch">
      <p-chart
        type="line"
        [data]="basicData"
        [options]="basicOptions"
        width="800"
        height="350"
      ></p-chart>
      <div class="w-full flex flex-column text-center">
        <div>
          <p class="mt-0">Resolved</p>
          <h3 class="mb-0">449</h3>
        </div>
        <p-divider></p-divider>
        <div>
          <p class="mt-0">Received</p>
          <h3 class="mb-0">426</h3>
        </div>
        <p-divider></p-divider>
        <div>
          <p class="mt-0">Average first response time</p>
          <h3 class="mb-0">33m</h3>
        </div>
        <p-divider></p-divider>
        <div>
          <p class="mt-0">Average response time</p>
          <h3 class="mb-0">3h 8m</h3>
        </div>
        <p-divider></p-divider>
        <div>
          <p class="mt-0">Resolution within SLA</p>
          <h3 class="mb-0">94%</h3>
        </div>
      </div>
    </div>
  </p-card>
</div>
<div class="grid">
  <p-card class="col-6">
    <ng-template pTemplate="header">
      <h4 class="ml-3 pt-3">Unresolved tickets</h4>
    </ng-template>
      <p>Waiting on feature request</p>
      <p-divider></p-divider>
      <p>Awaiting Customer Response</p>
      <p-divider></p-divider>
      <p>Awaiting Developer Fix</p>
      <p-divider></p-divider>
      <p>Pending</p>
  </p-card>
  <p-card class="col-6">
    <ng-template pTemplate="header">
      <h4 class="ml-3 pt-3">Tasks</h4>
    </ng-template>
    <p>Finish ticket update <p-tag severity="warning" value="Urgent"></p-tag></p>
    <p-divider></p-divider>
    <p>Create new ticket example <p-tag severity="success" value="New"></p-tag></p>
    <p-divider></p-divider>
    <p>Update ticket report <p-tag styleClass="mr-2" severity="info" value="Default"></p-tag></p>
  </p-card>
</div>
