<div class="h-screen max-h-screen flex">
  <div class="relative min-h-full z-10 shadow-md w-[16rem]">
    <div class="p-4 flex gap-4 items-center">
      <ng-icon name="heroUserCircle" size="96px"></ng-icon>
      <div>
        <div class="text-lg font-semibold">
          {{ (user$ | async)?.displayName || 'Unknown user' }}
        </div>
        <div class="font-light">Admin</div>
      </div>
    </div>
    <ul>
      <li
        class="transition-colors hover:bg-yellow-200 py-3 px-6 cursor-pointer flex items-center"
        routerLinkActive="bg-yellow-100"
        routerLink="/dashboard"
      >
        <ng-icon name="hero-home" class="mr-2"></ng-icon>
        <a>Dashboard</a>
      </li>
      <li
        class="transition-colors hover:bg-yellow-200 py-3 px-6 cursor-pointer flex items-center"
      >
        <ng-icon name="hero-user-group" class="mr-2"></ng-icon>
        <a>Team</a>
      </li>
      <li
        class="transition-colors hover:bg-yellow-200 py-3 px-6 cursor-pointer flex items-center"
      >
        <ng-icon name="hero-folder" class="mr-2"></ng-icon>
        <a>Offers</a>
      </li>
      <li
        class="transition-colors hover:bg-yellow-200 py-3 px-6 cursor-pointer flex items-center"
      >
        <ng-icon name="hero-star" class="mr-2"></ng-icon>
        <a>Partners</a>
      </li>
      <li
        class="transition-colors hover:bg-yellow-200 py-3 px-6 cursor-pointer flex items-center"
      >
        <ng-icon name="hero-banknotes" class="mr-2"></ng-icon>
        <a>Finances</a>
      </li>
      <li
        class="transition-colors hover:bg-yellow-200 py-3 px-6 cursor-pointer flex items-center"
        routerLinkActive="bg-yellow-100"
        routerLink="/clients"
      >
        <ng-icon name="hero-users" class="mr-2"></ng-icon>
        <a>Clients</a>
      </li>
      <li
        class="transition-colors hover:bg-yellow-200 py-3 px-6 cursor-pointer flex items-center"
        (click)="handleLogout()"
      >
        <ng-icon name="hero-arrow-right-on-rectangle" class="mr-2"></ng-icon>
        <a>Log Out</a>
      </li>
    </ul>
  </div>
  <div class="bg-gray-100 flex-auto overflow-y-auto min-h-screen">
    <div class="h-max p-6">
      <div class="mb-4 flex flex-wrap items-stretch w-[20rem]">
        <input
          type="search"
          class="relative m-0 -mr-px block w-[1%] min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-white bg-clip-padding px-3 py-1.5 text-base font-normal text-neutral-700 outline-none transition duration-300 ease-in-out focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="button-addon1"
        />

        <button
          class="relative z-[2] flex items-center rounded-r bg-yellow-400 px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
          type="button"
          id="button-addon1"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <ng-icon name="hero-magnifying-glass" size="20px"></ng-icon>
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
    <div class="px-6 pb-6 flex items-center gap-4">
      <img
        src="../../assets/extrawest-logo-with-website.png"
        alt="Extrawest Logo (extrawest.com)"
        class="h-12"
      />
      <div>Made by Extrawest GmbH © 2023</div>
    </div>
  </div>
</div>
