<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <div class="sidenav-link-container">
      <a
        class="sidenav-link"
        routerLink="dashboard"
        routerLinkActive="surface-ground border-round-md"
      ><mat-icon>home</mat-icon> Dashboard</a>
      <a class="sidenav-link"><mat-icon>group</mat-icon> Team</a>
      <a class="sidenav-link"><mat-icon>request_quote</mat-icon> Offers</a>
      <a class="sidenav-link"><mat-icon>handshake</mat-icon> Partners</a>
      <a class="sidenav-link"><mat-icon>payments</mat-icon> Finances</a>
      <a
        class="sidenav-link"
        routerLink="clients"
        routerLinkActive="surface-ground border-round-md"
      ><mat-icon>contacts</mat-icon> Clients</a>
      <a class="sidenav-link" (click)="logout()"><mat-icon>logout</mat-icon> Log Out</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
