.search-input {
  width: 20rem;
  margin-bottom: 1rem;
}

.trends-card {
  max-width: 100%;
  margin-bottom: 1rem;
}

.trends-content {
  display: flex;
  flex-direction: row;
}

.trend-values {
  flex: 1 1 auto;
  text-align: center;

  nz-divider {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  h4:not(:first-child) {
    margin-top: 1rem;
  }

  h4 {
    margin-bottom: 0.5rem;
  }

  h2:last-child {
    margin-bottom: 0;
  }
}

.tickets-card {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  flex: 1 1 50%;
}

.tickets-content {
  p {
    margin-top: -0.375rem;
    margin-bottom: -0.5rem;
  }
}

.ticket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tasks-card {
  margin-bottom: 1rem;
  flex: 1 1 50%;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.new-task {
  button {
    margin: 0 !important;
  }
}

.bottom-cards {
  display: flex;
  gap: 1rem;
}
