<nb-form-field class="w-4 mt-7">
  <nb-icon nbPrefix icon="search" pack="eva"></nb-icon>
  <input type="text" nbInput fullWidth shape="round" placeholder="Search">
</nb-form-field>
<h3>Dashboard</h3>
<div class="grid">
  <nb-card class="col-12">
    <nb-card-header>
      <h6>Today's trends</h6>
    </nb-card-header>
    <nb-card-body>
      <div class="card flex flex-row align-items-stretch">
        <img src="../../assets/graph_placeholder.png" alt="Placeholder">
        <div class="w-full flex flex-column text-center">
          <div>
            <p>Resolved</p>
            <h5 class="mt-0">449</h5>
          </div>
          <div>
            <p>Received</p>
            <h5 class="mt-0">426</h5>
          </div>
          <div>
            <p>Average first response time</p>
            <h5 class="mt-0">33m</h5>
          </div>
          <div>
            <p>Average response time</p>
            <h5 class="mt-0">3h 8m</h5>
          </div>
          <div>
            <p>Resolution within SLA</p>
            <h5 class="mt-0">94%</h5>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<div class="grid">
  <nb-card class="col-5">
    <nb-card-header>
      <h6>Unresolved tickets</h6>
    </nb-card-header>
      <nb-list>
        <nb-list-item>
          Waiting on feature request <div class="ml-auto">4238</div>
        </nb-list-item>
        <nb-list-item>
          Awaiting Customer Response <div class="ml-auto">1005</div>
        </nb-list-item>
        <nb-list-item>
          Awaiting Developer Fix <div class="ml-auto">914</div>
        </nb-list-item>
        <nb-list-item>
          Pending <div class="ml-auto">281</div>
        </nb-list-item>
      </nb-list>
<!--      <p>Waiting on feature request</p>-->
<!--      <p>Awaiting Customer Response</p>-->
<!--      <p>Awaiting Developer Fix</p>-->
<!--      <p>Pending</p>-->
  </nb-card>
  <nb-card class="col-6 ml-auto">
    <nb-card-header>
      <h6>Tasks</h6>
    </nb-card-header>
    <nb-list>
      <nb-list-item>Finish ticket update <nb-tag class="ml-auto" status="warning" text="Urgent"></nb-tag></nb-list-item>
      <nb-list-item>Create new ticket example <nb-tag class="ml-auto" status="success" text="New"></nb-tag></nb-list-item>
      <nb-list-item>Update ticket report <nb-tag class="ml-auto" status="info" text="Default"></nb-tag></nb-list-item>
    </nb-list>
  </nb-card>
</div>
