<div class="flex flex-col h-screen justify-center items-center">
  <form nz-form [formGroup]="loginForm" class="max-w-[20rem]" (ngSubmit)="login()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="login" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row>
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="float-right">Forgot password</a>
      </div>
    </div>
    <button nz-button class="my-4 w-full" [nzType]="'primary'">Log in</button>
    <button
      nz-button
      class="mb-4 w-full"
      [nzType]="'default'"
      type="button"
      (click)="signInWithGoogle()"
    >Sign In via Google</button>
    <button
      nz-button
      class="mb-2 w-full"
      [nzType]="'default'"
      type="button"
      (click)="signInWithFacebook()"
    >Sign In via Facebook</button>
    Or
    <a>register now!</a>
  </form>
</div>
