<nb-form-field class="w-4 mt-7">
  <nb-icon nbPrefix icon="search" pack="eva"></nb-icon>
  <input type="text" nbInput fullWidth shape="round" placeholder="Search">
</nb-form-field>
<h3>Clients</h3>
<nb-card>
  <nb-card-header>
    All tickets
    <button
      nbButton
      type="button"
      (click)="openAddDialog()"
    >Add</button>
  </nb-card-header>
  <nb-card-body>
    <table>
      <thead>
        <tr>
          <th>Ticket details</th>
          <th>Customer name</th>
          <th>Date</th>
          <th>Priority</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets$ | async">
          <td>{{ticket.details}}</td>
          <td>{{ticket.customerName}}</td>
          <td>{{ticket.date}}</td>
          <td>{{ticket.priority}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
