<!--<p-dialog header="Add Ticket" [(visible)]="displayDialog">-->
<!--  <form [formGroup]="addTicketForm" class="flex flex-column">-->
<!--    <label for="details">Details</label>-->
<!--    <input id="details" type="text" pInputText formControlName="details" class="mb-3 mt-2">-->
<!--    <label for="customerName">Customer name</label>-->
<!--    <input id="customerName" type="text" pInputText formControlName="customerName" class="mb-3 mt-2">-->
<!--    <label for="basic">Date</label>-->
<!--    <p-calendar appendTo="body" inputId="basic" formControlName="date" class="mb-3 mt-2"></p-calendar>-->
<!--    <label for="priority">Priority</label>-->
<!--    <input id="priority" type="text" pInputText formControlName="priority" class="mb-3 mt-2">-->
<!--    <button-->
<!--      pButton-->
<!--      pRipple-->
<!--      type="button"-->
<!--      label="Add"-->
<!--      class="p-button"-->
<!--      (click)="addTicket()"-->
<!--    ></button>-->
<!--  </form>-->
<!--</p-dialog>-->
<nb-form-field class="w-4 mt-7">
  <nb-icon nbPrefix icon="search" pack="eva"></nb-icon>
  <input type="text" nbInput fullWidth shape="round" placeholder="Search">
</nb-form-field>
<h3>Clients</h3>
<nb-card>
  <nb-card-header>All tickets</nb-card-header>
  <nb-card-body>
    <table>
      <thead>
        <tr>
          <th>Ticket details</th>
          <th>Customer name</th>
          <th>Date</th>
          <th>Priority</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets$ | async">
          <td>{{ticket.details}}</td>
          <td>{{ticket.customerName}}</td>
          <td>{{ticket.date}}</td>
          <td>{{ticket.priority}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
