<mat-form-field appearance="outline" class="search-input">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Start typing...">
</mat-form-field>
<h2>Dashboard</h2>
<div class="dashboard-container">
  <mat-card class="trends-card">
    <mat-card-header>
      <mat-card-title>Today's trends</mat-card-title>
      <mat-card-subtitle>as of 25 May 2019, 09:41 PM</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Simple card</p>
    </mat-card-content>
  </mat-card>
  <div class="bottom-cards">
    <mat-card class="tickets-card">
      <mat-card-header>
        <mat-card-title>Unresolved tickets</mat-card-title>
        <mat-card-subtitle>Group: Support</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Simple card</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="tasks-card">
      <mat-card-header>
        <mat-card-title>Tasks</mat-card-title>
        <mat-card-subtitle>Today</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Simple card</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
