<div class="grid flex-auto max-w-full w-full">
  <div class="col-3 shadow-4 pt-8 px-4">
    <div class="grid">
      <p-avatar label="J" size="large" shape="circle" class="col-2"></p-avatar>
      <div class="col-10">
        <div class="text-xl font-medium">John Doe</div>
        <div class="font-light">Admin</div>
      </div>
    </div>
    <div class="flex flex-column align-items-start">
      <a class="p-2 m-2 ml-0 no-underline"
         routerLink="dashboard"
         routerLinkActive="surface-ground border-round-md"
      >Dashboard</a>
      <a class="p-2 m-2 ml-0 no-underline">Team</a>
      <a class="p-2 m-2 ml-0 no-underline">Offers</a>
      <a class="p-2 m-2 ml-0 no-underline">Partners</a>
      <a class="p-2 m-2 ml-0 no-underline">Finances</a>
      <a class="p-2 m-2 ml-0 no-underline"
         routerLink="clients"
         routerLinkActive="surface-ground border-round-md"
      >Clients</a>
      <a class="p-2 m-2 ml-0 no-underline" (click)="logout()">Log Out</a>
    </div>
  </div>
  <div class="col-9 pl-4 pt-8 pb-4 max-w-full">
    <router-outlet></router-outlet>
  </div>
</div>
