<nb-layout>
  <nb-sidebar>
    <nb-user
      size="giant"
      name="John Doe"
      title="Admin"
      class="py-3"
    ></nb-user>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <nb-form-field class="w-4">
      <nb-icon nbPrefix icon="search" pack="eva"></nb-icon>
      <input type="text" nbInput fullWidth shape="round" placeholder="Search">
    </nb-form-field>
    <router-outlet></router-outlet>
    <div class="py-3 flex align-items-center gap-4">
      <img
        src="../../assets/extrawest-logo-with-website.png"
        alt="Extrawest Logo (extrawest.com)"
        class="h-3rem"
      />
      <div>Made by Extrawest GmbH © 2023</div>
    </div>
  </nb-layout-column>
</nb-layout>
