<div class="flex justify-content-center mt-8">
  <form [formGroup]="loginForm">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Login to account</div>
      <span class="text-600 font-medium line-height-3">Don't have an account?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
    </div>

    <div>
      <label for="email" class="block text-900 font-medium mb-2">Email</label>
      <input
        id="email"
        type="email"
        placeholder="Email"
        pInputText
        class="w-full mb-3"
        formControlName="email"
      >

      <label for="password" class="block text-900 font-medium mb-2">Password</label>
      <input
        id="password"
        type="password"
        placeholder="Password"
        pInputText
        class="w-full mb-3"
        formControlName="password"
      >

      <div class="flex align-items-center justify-content-between mb-6">
        <div class="flex align-items-center">
          <p-checkbox
            id="rememberMe"
            [binary]="true"
            styleClass="mr-2"
            formControlName="remember"
          ></p-checkbox>
          <label for="rememberMe" class="text-900">Remember me</label>
        </div>
        <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">
          Forgot password?
        </a>
      </div>

      <button
        pButton
        pRipple
        label="Log In"
        icon="pi pi-user"
        class="w-full"
        (click)="handleLogIn()"
        type="button"
      ></button>
      <button
        pButton
        pRipple
        label="Sign In via Google"
        icon="pi pi-google"
        class="w-full mt-2"
        (click)="handleSignInWithGoogle()"
        type="button"
      ></button>
      <button
        pButton
        pRipple
        label="Sign In via Facebook"
        icon="pi pi-facebook"
        class="w-full mt-2"
        (click)="handleSignInWithFacebook()"
        type="button"
      ></button>
    </div>
  </form>
</div>

